<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <!-- <h3> <%= 1 + 5 %></h3> -->
    <h3> <%= "ashish vankar".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga qui est omnis aut quos consequatur perspiciatis corporis sint provident perferendis, minima voluptas aliquam similique nihil voluptatem, soluta eveniet error adipisci recusandae harum expedita iste. Accusantium a laborum, ipsam dolores magnam pariatur vitae eligendi.</p>
    <button>Click me!</button>
</body>
</html>